.baby-shower{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 70px;
}

.baby-shower-img img{
    width: 480px;
    height: 250px;
}
.baby-shower-text{
    margin-top: 25px;
}
.baby-shower-text h1{
    margin-left: 20px;
    color: #e7ad41;
    font-weight: bold;
    margin-bottom: 10px;
}
.baby-shower-text h2{
    font-weight: 500;
    margin-bottom: 10px;
}
.baby-shower-text h3{
    text-align: justify;
}
.baby-shower-text p{
    color: #e7ad41;
    font-size: 12px;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .baby-shower{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
    .baby-shower{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
}
